@using BetterBooks.Models
@using Microsoft.AspNet.Identity
@{
    if (Request.IsAuthenticated)
    {
        var db = new ApplicationDbContext();
        string userId = User.Identity.GetUserId();
        ViewData["RequestsCount"] =
            db.Books
                .Where(book =>
                    book.OwnerId == userId &&
                    book.RequestedByUsers.Where(request => request.Status == null).Any())
                .Count();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Better Books</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Better Books", "Index", "Books", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Catalogue", "Index", "Books")</li>
                    <li>
                        <a href="/Manage/RequestsToMe">Requests to me <span class="badge badge-info">@ViewData["RequestsCount"]</span></a>
                    </li>
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Html.ActionLink("About", "About", "Home") - @Html.ActionLink("Better Books Developers", "Contact", "Home")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
