@using BetterBooks.Models
@using Microsoft.AspNet.Identity
@{
    if (Request.IsAuthenticated)
    {
        var db = new ApplicationDbContext();
        string userId = User.Identity.GetUserId();
        ViewData["RequestsCount"] =
            db.Books
                .Where(book =>
                    book.OwnerId == userId &&
                    book.RequestedByUsers.Where(request => request.Status == null).Any())
                .Count();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Better Books</title>
    <link href="~/Content/review.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @*@Html.ActionLink("Better Books", "Index", "Books", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    <li>@Html.ActionLink("Catalogue", "Index", "Books", new { area = "" }, new { @class = "nav-link" })</li>
                    <li> @Html.ActionLink("My Books", "MyBooks", "Manage", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>
                        <a href="/Manage/RequestsToMe" class="nav-link">Requests to me <span class="badge badge-info">@ViewData["RequestsCount"]</span></a>
                    </li>
                    <li> @Html.ActionLink("Requested by me", "RequestedByMe", "Manage", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Html.ActionLink("About", "About", "Home") - @Html.ActionLink("Better Books Developers", "Contact", "Home")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
