@model BetterBooks.Models.Book
@using Microsoft.AspNet.Identity;


@{
    ViewBag.Title = "Details";
    string userId = User.Identity.GetUserId();
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>
    </dl>


    @*POST: Books/RequestBook/5*@

    @if (User.Identity.IsAuthenticated)
    {
        if (userId != Model.OwnerId)
        {
            <div>
                @using (Html.BeginForm("RequestBook", "Books", new { id = Model.Id, returnAction = "Details", returnId = Model.Id }))
                {
                    @Html.AntiForgeryToken()

                    if (Model.RequestedByUsers.Any(request => request.UserId == userId))
                    {
                        <input type="submit" value="Cancel Request" class="btn btn-default" />
                    }
                    else
                    {
                        <input type="submit" value="Request it" class="btn btn-default" />
                    }

                }
            </div>
        }
    }
    else
    {
        <br>
        <h5>Log in to request the book</h5>
    }


</div>
<p>
    @if (User.Identity.GetUserId() == Model.OwnerId)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("View or Add Reviews", "Review", new { id = Model.Id })
</p>
