@model BetterBooks.Models.Book
@using Microsoft.AspNet.Identity;


@{
    ViewBag.Title = "Details";
    string userId = User.Identity.GetUserId();
}
<body style="background-image: url('https://images.unsplash.com/photo-1519682337058-a94d519337bc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80'); height: 900px; background-size:cover; background-repeat: no-repeat;   background-position-x:center;background-position-y:center;">
    
    <h2>Details About The Book</h2>

    <div>
        <h3>Book Information!</h3>
        <hr/>
       
    <table class="table table-bordered">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Title)</td>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Author)</td>
            <td>@Html.DisplayFor(model => model.Author)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Description)</td>
            <td> @Html.DisplayFor(model => model.Description)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.OwnerId)</td>
            <td></td>
        </tr>
    </table>

    @*POST: Books/RequestBook/5*@

    @if (User.Identity.IsAuthenticated)
    {
        if (userId != Model.OwnerId)
        {
            <div>
                @using (Html.BeginForm("RequestBook", "Books", new { id = Model.Id, returnAction = "Details", returnId = Model.Id }))
                {
                    @Html.AntiForgeryToken()

                    if (Model.RequestedByUsers.Any(request => request.UserId == userId))
                    {
                        <input type="submit" value="Cancel Request" class="btn btn-default" />
                    }
                    else
                    {
                        <input type="submit" value="Request it" class="btn btn-default" />
                    }

                }
            </div>
        }
    }
    else
    {
        <br>
        <h5>Log in with user ID to request the book!</h5>
    }


    </div>
    <p>
        @if (User.Identity.GetUserId() == Model.OwnerId)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        }
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("View or Add Reviews", "Review", new { id = Model.Id })
    </p>

</body>