@model IEnumerable<BetterBooks.Models.Book>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Catalogue";
    var userId = User.Identity.GetUserId();

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <h5>Find by Title: </h5>
    <p>
        @Html.TextBox("searchOrder")
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}

@Html.ActionLink("Add new book", "Create", "Books", new { }, new { @class = "btn btn-primary" })

<table class="table">
    <tr>
        <th>


        </th>
        <th>
            <i class="fa fa-sort">@Html.ActionLink("Title", "Index", new { order = ViewBag.TitleSort })</i>
        </th>
        <th>

            <i class="fa fa-sort">@Html.ActionLink("Author", "Index", new { order = ViewBag.AuthorSort })</i>
        </th>
        <th>
            @Html.ActionLink("Year", "Index")
        </th>
        <th>
            <i class="fa fa-sort">@Html.ActionLink("Date Added", "Index", new { order = ViewBag.DateSort })</i>
        </th>

        @if (User.Identity.IsAuthenticated)
        {
            <th>
                @Html.DisplayNameFor(model => model.Owner.UserName)
            </th>
            <th>
                Request
            </th>
        }

        <th></th>
    </tr>

    @foreach (BetterBooks.Models.Book book in Model)
    {
        <tr>
            <td>
                @if (book.Image == null)
                {
                    <img width="92" height="92" src="~/Content/default_cover.jpg" />
                }
                else
                {
                    <img width="92" height="92" src="/Books/Image/@book.Id" />
                }
            </td>
            <td>
                @Html.ActionLink(book.Title, "Details", new { id = book.Id })
            </td>

            <td>
                @Html.DisplayFor(modelItem => book.Author)
            </td>

            <td>
                @Html.DisplayFor(modelItem => book.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.DateAdded)
            </td>

            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.DisplayFor(modelItem => book.Owner.UserName)
                </td>

                //POST: Books/RequestBook/5
                <td>
                    @if (book.OwnerId != userId)
                    {
                        using (Html.BeginForm("RequestBook", "Books", new { id = book.Id, returnAction = "Index" }))
                        {
                            @Html.AntiForgeryToken()

                            if (book.RequestedByUsers.Any(request => request.UserId == userId))
                            {
                                <input type="submit" value="Cancel Request" class="btn btn-info" />
                            }
                            else
                            {
                                <input type="submit" value="Request it" class="btn btn-primary" />
                            }

                        }
                    }
                </td>

            }
        </tr>
    }

</table>
