@model IEnumerable<BetterBooks.Models.Book>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Catalogue";
    var userId = User.Identity.GetUserId();
}

<body style="background-image: url('https://images.unsplash.com/photo-1523868157789-c313eb2f1ee9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80'); height: 900px; background-size: cover; background-repeat: no-repeat; background-position-x: center; background-position-y: center; ">

<h2 class="text-center" style="color:#ca8ee6; text-shadow: 2px 2px blue;">@ViewBag.Title</h2>

<table class="table" style="background-color: lightblue;">
    <tr style="background-color: lightyellow; color: red;">
        <th>
            @Html.ActionLink("Title", "Index", new { order = ViewBag.TitleSort })
        </th>
        <th >
            @Html.ActionLink("Author", "Index", new { order = ViewBag.AuthorSort })
        </th>

        @if (User.Identity.IsAuthenticated)
        {
            <th>
                @Html.DisplayNameFor(model => model.Owner.UserName)
            </th>
            <th>
                Request
            </th>
        }

       
    </tr>

    @foreach (BetterBooks.Models.Book book in Model)
    {
        <tr  style="background-color: lightyellow; color:red;">
            <td>
                @Html.ActionLink(book.Title, "Details", new { id = book.Id })

            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Author)
            </td>

            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.DisplayFor(modelItem => book.Owner.UserName)
                </td>

                //POST: Books/RequestBook/5
                <td>
                    @if (book.OwnerId != userId)
                    {
                        using (Html.BeginForm("RequestBook", "Books", new { id = book.Id, returnAction = "Index" }))
                        {
                            @Html.AntiForgeryToken()

                            if (book.RequestedByUsers.Any(request => request.UserId == userId))
                            {
                                <input type="submit" value="Cancel Request" class="btn btn-default" />
                            }
                            else
                            {
                                <input type="submit" value="Request it" class="btn btn-default" />
                            }

                        }
                    }
                </td>

            }
        </tr>
    }

</table>
    </body>
