@model IEnumerable<BetterBooks.Models.Book>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Catalogue";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>

        @if (User.Identity.IsAuthenticated)
        {
            <th>
                @Html.DisplayNameFor(model => model.Owner.UserName)
            </th>
            <th>
                Request
            </th>
        }

        <th></th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(book.Title, "Details", new { id = book.Id })

            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Author)
            </td>

            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.DisplayFor(modelItem => book.Owner.UserName)
                </td>

                //POST: Books/RequestBook/5
                <td>
                    @using (Html.BeginForm("RequestBook", "Books", new { id = book.Id }))
                    {
                        @Html.AntiForgeryToken()
                        string userId = User.Identity.GetUserId();

                        if (book.RequestedByUsers.Any(user => user.Id == userId))
                        {
                            <input type="submit" value="Cancel Request" class="btn btn-default" />
                        }
                        else
                        {
                            <input type="submit" value="Request it" class="btn btn-default" />
                        }

                    }
                </td>

            }
        </tr>
    }

</table>
