@model  IEnumerable<BetterBooks.Models.BookReview>

@{
    ViewBag.Title = "Review";
}

<h2>Review</h2>

@{
    BetterBooks.Models.BookReview book = ViewData["book1"] as BetterBooks.Models.BookReview;
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Review)
        </th>

        <th></th>
    </tr>

    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
        </tr>
    }
    

</table>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Review" asp-route-id="@ViewData["book"]" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@book.Review" class="control-label"></label>
                <input asp-for="@book.Review" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Add Review" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Go back", "Details", new { id = ViewData["book"] })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
