@model BetterBooks.Models.MyBooksViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h1>My Books</h1>

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            @* <th>Status</th>*@
        </tr>

        @foreach (var item in Model.MyBooks)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Details", "Books", new { id = item.Id }, null)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                @*<td>
                        @Html.CheckBox("AllowToBorrow", true) Allow to borrow
                    </td>
                *@
                <td>
                    @Html.ActionLink("Edit", "Edit", "Books", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", "Books", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink("Add new book", "Create", "Books", new { @class = "btn btn-primary" })
</div>

