@model BetterBooks.Models.MyBooksViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Manage";
}



<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div>@User.Identity.GetUserName()</div>
    <br>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary">
            @Html.ActionLink("Profile", "Index")
        </button>
        <button type="button" class="btn btn-primary">
            My books
        </button>
        <button type="button" class="btn btn-secondary">
            @Html.ActionLink("Requests to me", "RequestsToMe")
        </button>
        <button type="button" class="btn btn-secondary">
            @Html.ActionLink("Requested by me", "RequestedByMe")
        </button>
    </div>
    <br>
    <br>


    <table class="table">

        @foreach (var item in Model.MyBooks)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Details", "Books", new { id = item.Id }, null)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.CheckBox("AllowToBorrow", true) Allow to borrow
                </td>
                <td>
                    <div class="btn">
                        <button type="button">
                            @Html.ActionLink("Edit", "Edit", "Books", new { id = item.Id }, null)
                        </button>
                        <button type="button">
                            @Html.ActionLink("Delete", "Delete", "Books", new { id = item.Id }, null)
                        </button>
                    </div>


                </td>
            </tr>
        }
    </table>
    <div class="btn">
        <button type="button">
            @Html.ActionLink("Add new book", "Create", "Books")
        </button>
    </div>

</div>
