@model BetterBooks.Models.MyBooksViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h1>My Books</h1>

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Status</th>
        </tr>

        @foreach (var item in Model.MyBooks)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Details", "Books", new { id = item.Id }, null)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.CheckBox("AllowToBorrow", true) Allow to borrow
                </td>
                <td>
                    <div class="btn">
                        <button type="button">
                            @Html.ActionLink("Edit", "Edit", "Books", new { id = item.Id }, null)
                        </button>
                        <button type="button">
                            @Html.ActionLink("Delete", "Delete", "Books", new { id = item.Id }, null)
                        </button>
                    </div>


                </td>
            </tr>
        }
    </table>
    <div class="btn">
        <button type="button">
            @Html.ActionLink("Add new book", "Create", "Books")
        </button>
    </div>

</div>
