@model BetterBooks.Models.RequestsToMeViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Requests to me";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>

    <h1>Requests to me</h1>

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Status</th>
        </tr>
        @foreach (var book in Model.BooksRequestsToMe)
        {
            <tr>
                <td>
                    @Html.ActionLink(book.Title, "Details", "Books", new { id = book.Id }, null)

                </td>
                <td>
                    @Html.DisplayFor(x => book.Author)
                </td>

                <td>
                    @Html.DisplayFor(x => book.Year)
                </td>

                <td>
                    @foreach (var bookRequest in book.RequestedByUsers)
                    {
                        <div>
                            <a href="#" role="button" class="btn btn-info popover-user-info" title="@bookRequest.User.UserName" data-toggle="popover" data-id="@bookRequest.User.Id" data-trigger="focus">@bookRequest.User.UserName</a>


                            @using (Html.BeginForm("AcceptRequest", "Books", new
                            {
                                userId = bookRequest.UserId,
                                bookId = bookRequest.BookId
                            }, FormMethod.Post, new { style = "display:inline-block" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Accept" class="btn btn-success" />
                            }

                            @using (Html.BeginForm("RejectRequest", "Books", new
                            {
                                userId = bookRequest.UserId,
                                bookId = bookRequest.BookId
                            }, FormMethod.Post, new { style = "display:inline-block" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Reject" class="btn btn-danger" />
                            }

                            @if (bookRequest.Status != null)
                            {
                                <p>Current Status: @bookRequest.Status</p>
                            }
                        </div>
                    }
                </td>




            </tr>
        }
    </table>

    @section scripts
    {
        <script>
            $(function () {
                $('[data-toggle="popover"]').popover();
                $('.popover-user-info').on('inserted.bs.popover', function () {
                    var popover = $(this);
                    $.ajax({
                        type: "GET",
                        url: '/Manage/UserInfo',
                        contentType: "application/json; charset=utf-8",
                        data: { "userId": popover.attr('data-id') },
                        datatype: "json",
                        success: function (data) {
                            $('.popover-body').html(data);
                        }
                    });
                });
            });

        </script>
    }

</div>
