@model BetterBooks.Models.RequestsToMeViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Requests to me";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div>@User.Identity.GetUserName()</div>
    <br>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary">
            @Html.ActionLink("Profile", "Index")
        </button>
        <button type="button" class="btn btn-secondary">
            @Html.ActionLink("My Books", "MyBooks")
        </button>
        <button type="button" class="btn btn-primary">
            Requests to me
        </button>
        <button type="button" class="btn btn-secondary">
            @Html.ActionLink("Requested by me", "RequestedByMe")
        </button>
    </div>
    <br>
    <br>

    <table class="table">
        @foreach (var book in Model.BooksRequestsToMe)
        {
            <tr>
                <td>
                    @Html.ActionLink(book.Title, "Details", "Books", new { id = book.Id }, null)

                </td>
                <td>
                    @Html.DisplayFor(x => book.Author)
                </td>

                <td>
                    @Html.DisplayFor(x => book.Year)
                </td>

                <td>
                    @foreach (var bookRequest in book.RequestedByUsers)
                    {
                        <div>
                            <a href="#" role="button" class="btn btn-secondary popover-user-info" title="@bookRequest.User.UserName" data-toggle="popover" data-id="@bookRequest.User.Id" data-trigger="focus">@bookRequest.User.UserName</a>


                            @using (Html.BeginForm("AcceptRequest", "Books", new
                            {
                                userId = bookRequest.UserId,
                                bookId = bookRequest.BookId
                            }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Accept" class="btn btn-default" />
                            }

                            @using (Html.BeginForm("RejectRequest", "Books", new
                            {
                                userId = bookRequest.UserId,
                                bookId = bookRequest.BookId
                            }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Reject" class="btn btn-default" />
                            }

                            @if (bookRequest.Status != null)
                            {
                                <p>Current Status: @bookRequest.Status</p>
                            }
                        </div>
                    }
                </td>




            </tr>
        }
    </table>

    @section scripts
    {
        <script>
            $(function () {
                $('[data-toggle="popover"]').popover();
                $('.popover-user-info').on('show.bs.popover', function () {
                    var popover = $(this);
                    $.ajax({
                        type: "GET",
                        url: '/Manage/UserInfo',
                        contentType: "application/json; charset=utf-8",
                        data: { "userId": popover.attr('data-id') },
                        datatype: "json",
                        success: function (data) {
                            popover.data('bs.popover').tip().find('.popover-content').html(data);
                        }
                    });
                });
            });

        </script>
    }

</div>
