@model BetterBooks.Models.RequestedByMeViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Requested by me";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div>@User.Identity.GetUserName()</div>
    <br>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary">
            @Html.ActionLink("Profile", "Index")
        </button>
        <button type="button" class="btn btn-secondary">
            @Html.ActionLink("My Books", "MyBooks")
        </button>
        <button type="button" class="btn btn-secondary">
            Requests to me
        </button>
        <button type="button" class="btn btn-primary">
            Requested by me
        </button>
    </div>
    <br>
    <br>


    <table class="table">

        @foreach (var book in Model.BooksRequestedByMe)
        {
            <tr>
                <td>
                    @Html.ActionLink(book.Title, "Details", "Books", new { id = book.Id }, null)

                </td>
                <td>
                    @Html.DisplayFor(x => book.Author)
                </td>
                <td>
                    @Html.CheckBox("AllowToBorrow", true) Allow to borrow
                </td>
                <td>
                    <div class="btn">
                        <button type="button">
                            @Html.ActionLink("Edit", "Edit", "Books", new { id = book.Id }, null)
                        </button>
                        <button type="button">
                            @Html.ActionLink("Delete", "Delete", "Books", new { id = book.Id }, null)
                        </button>
                    </div>


                </td>
            </tr>
        }
    </table>
    <div class="btn">
        <button type="button">
            @Html.ActionLink("Add new book", "Create", "Books")
        </button>
    </div>

</div>
